@use '../../../assets/variables.scss';

.background_image {
    border-radius: 16px;
    height: 100vh;
    background-image: url(../../../assets/img/travel.jpg);
    background-size: cover;
    min-height: 700px;
    background-color: #0000007d;
    background-blend-mode: darken;
  }

  mat-card  {
    background: #fff0;
    box-shadow: none !important;
    margin-bottom: 26px;
  }

  mat-card  img{
    background: variables.$white-color;
    border-radius: 9px;
    filter: brightness(0.9);
    margin-bottom: 5px;
  }

  .distination {
    height: 216px;
  }


  mat-card-content  p{
    position: absolute;
    top: 72%;
    font-weight: 400;
    color: variables.$white-color;
    font-size: 26px;
    text-align: center;
    filter: saturate(0.5);
    width: 100%;
    bottom: 20px;
    margin-left: -16px;
    background: linear-gradient(to bottom, #00000014, #01019b );
    border-radius: 9px;
  }

  mat-card-content  span{
    // margin-top: -8vh;
    position: absolute;
    top: 12%;
    color: variables.$white-color;
    font-size: 32px;
    text-align: center;
    filter: saturate(0.5);
    line-height: normal;
    font-weight: bold;
    width: 90%;
    left: 4%;
  }

  #image_home {
    width: 66%;
    left: 16%;
    top: 55vh;
    font-size: 37px;
    color: variables.$white-color;
    text-align: center;
    filter: saturate(0.5);
    line-height: normal;
    font-weight: bold;
    position: relative;
    display: block;
  }

  #image_home .btn{
    background: linear-gradient(90deg, #01019b 35%, #01019b 35%, #312ee7 100%);
    padding-right: 21px;
    color: variables.$white-color;
    border-radius: 12px;
    padding: 5px 20px 8px 24px;
  }


  mat-card-content  button{
    margin-top: 21px;
    background-color: variables.$white-color;
    color: #04048b;
    font-size: 15px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 12px;
  }

  .row{
    margin-top: 3%;
  }


  .form_style{
    background-color: variables.$white-color;
    padding: 0px 46px 0px 14px;
    border-radius: 10px;
    display: block;
    position: relative;
    top: 2vh;

    margin-right: 9vh;
    margin-left: 9vh;
  }

  .card-search {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 13px;
    padding: 8px 39px 2px 12px;
    border: none;
    cursor: pointer;
    width: 0%;
    top: 22px;
    margin-top: -8px;
    position: absolute;
    background-color: #05059d;
    right: 10px;
  }

  .search {
    font-size: 31px;
    color: variables.$white-color;
  }

  .form-control {
    padding: 0px !important;
    border: none !important;
  }

  .form-control:focus {
    border-color: #fdfeff00 !important;
    box-shadow: 3px 2px 0px 0rem rgb(5 5 157 / 16%);
    }

  @media only screen and (max-width: 767px) {
    #image_home {
      top: 19vh;
    }
  }


  .border_right{
    border-right: 1px solid #0000004d;
  }


  @media only screen and (max-width: 767px) {
    .border_right{
      border-right: none;
    }
  }

  .matmenu_Style {
    width: 32vh;
  }


  .single-categorie {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title-categorie {
    padding: 6px 5px 4px;
    min-width: 150px;
    font-size: 18px;
    font-weight: 500;
  }

  .sous-title {
    opacity: 0.4;
    font-weight: 500;
    font-size: 15px;
  }

  .quantite-categorie {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

  .quantite {
    padding: 7px;
  }


  .btn_quantit {
    padding: 0px 0px 0px 0px;
    background-color: variables.$primary-color;
    color: variables.$white-color;
    border-radius: 20px;
    width: 22px;
    height: 22px;
  }

  .btn_quantit:focus {
    box-shadow: none;
  }

  .quantit_icon {
    font-size: 14px;
    padding: 0px 4px 0px 0px;
  }

  ::ng-deep  .mat-menu-panel.menuClasse {
    width: 500px;
    border-radius: 16px !important;
    box-shadow: 0px 6px 20px rgb(0 0 0 / 20%) !important;
    margin-top: 20px;
   }

   .minus-opacity {
    opacity: 0.7;
   }
