<div class="navbar">
    <div class="top">
    </div>
    <div class="user">
        <img src="../../../assets/img/user_image.png" alt="">
        <h5 class="name">Achraf MLJ</h5>
    </div>
    <div class="menu" style="margin: -14px;">
        <div class="menu-item" style="margin-left: -12px;">
            <button mat-button class="menu-button" [routerLink]="['/accueil']">
                <mat-icon>home</mat-icon>
                <span>Accueil</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/nosServices']">
                <mat-icon>room_service</mat-icon>
                <span>Services</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/detailsHebergement']">
                <mat-icon>pages</mat-icon>
                <span>Hébérgement</span>
            </button>
            <button mat-button class="menu-button" [routerLink]="['/nosLogements']">
                <mat-icon>room</mat-icon>
                <span>Nos Logements</span>
            </button>
            <!-- <button mat-button class="menu-button" [routerLink]="['/confirmLogement']">
                <mat-icon>comment</mat-icon>
                <span>Confirmation Logement</span>
            </button> -->
            <!-- <button mat-button class="menu-button" [routerLink]="['/thankYou']">
                <mat-icon>settings</mat-icon>
                <span>Thank You</span>
            </button> -->
        </div>
    </div>
</div>
