<footer class="footer n-pr">
    <div class="container-fluid">
        <div class="row" style="padding: 15px;">
            <div class="col-md-3 col-sm-6">
                <h3><b>A propos</b></h3><br>
                 <ul>
                    <li>Centre d'aide</li>
                    <li>Information de sécurité</li>
                    <li>Option d'annulation</li>
                    <li>Nos mesures face au Covide-19</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3><b>Assistance</b></h3><br>
                <ul>
                    <li>Centre d'aide</li>
                    <li>Information de sécurité</li>
                    <li>Option d'annulation</li>
                    <li>Nos mesures face au Covide-19</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3><b>Assistance</b></h3><br>
                 <ul>
                    <li>Centre d'aide</li>
                    <li>Information de sécurité</li>
                    <li>Option d'annulation</li>
                    <li>Nos mesures face au Covide-19</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3><b>Assistance</b></h3><br>
                 <ul>
                    <li>Centre d'aide</li>
                    <li>Information de sécurité</li>
                    <li>Option d'annulation</li>
                    <li>Nos mesures face au Covide-19</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8">&copy; 2022 Travelbyrec - Confidentialité - Conditions générales - Plan du site </div>
            <div class="col-md-4">
                     <span class="span_textf">
                        <mat-icon class="language_footer">language</mat-icon>
                        <span style="padding-left: 31px;">
                            Français
                        </span>
                    </span>
                <div class="icons_soc">
                    <img src="../../../assets/img/iconfacebook.png" alt="facebook" >
                    <img src="../../../assets/img/iconlinkedin.png" alt="linkedin" >
                    <img src="../../../assets/img/iconinstagram.png" alt="instagram" >
                </div>
            </div>
        </div>
    </div>
</footer>
